.App {
    --header_height: 60px;
}

.hw {
width:1000px;
    margin: auto;
}

.hwTitle {
font-size:40px;
    font-family: "Times New Roman";
    width:1200px;
    display: block;
    margin: 0 auto;
}