.sendForm {
text-align: center;

}

.textarea {
    border-radius: 30px;
resize: none;
font-size: 25px;
    width: 800px;
    height: 40px;
    background-color: #F0FFFf;
    border-color: white;

}

.button {
width: 100px;
    height: 40px;
    background-color: #0066ff;
    border-radius: 30px;
    color: white;

}

.button:hover {
    background-color: #0066cc;
}
.button:active {

}
